<form *ngIf="entityGroup && relationshipGroup" (ngSubmit)="onSubmit()" [formGroup]="relationshipGroup" class="mbc-form content-wrapper-rtl" novalidate>
    <div class="row">
        <div class="col-md-12">
            <ul class="btn-area">
                <li class="hide">
                    <button type="button" class="btn btn-danger btn-block">Delete</button>
                </li>
                <li *ngIf="isEditing()">
                    <button type="button" (click)="onShowCopyModal()" class="btn btn-danger btn-block">Copy</button>
                </li>
                <li class="" *ngIf="article.status !== contentStatus.PENDING">
                    <button class="btn btn-danger btn-block" type="submit">Save</button>
                </li>
                <li *ngIf="isShowUnpublishButton()">
                  <button type="button" class="btn btn-danger btn-block" (click)="confirmUnpublish($event)">Un-publish</button>
                </li>
                <li *ngIf="action=='edit'">
                    <button type="button" (click)="onPreview()" class="btn btn-danger btn-block">Preview</button>
                </li>
                <li *ngIf="isEditing() && article.status === contentStatus.PENDING">
                    <button type="button" class="btn btn-danger btn-block" (click)="onModeratePopup('reject')">Reject</button>
                </li>
                <li *ngIf="isEditing() && article.status === contentStatus.PENDING">
                    <button type="button" class="btn btn-danger btn-block" (click)="onModeratePopup('approve')">Approve</button>
                </li>
                <li *ngIf="article.status !== contentStatus.LIVE && article.status !== contentStatus.PENDING && article.status !== contentStatus.READY">
                    <button type="button" class="btn btn-danger btn-block" (click)="confirmSaveAndPublish($event)">Publish</button>
                </li>
                <li *ngIf="entityId && !isInternalCopy">
                    <button type="button" class="btn btn-danger btn-block" (click)="confirmDelete($event)">Delete</button>
                </li>
                <li class="">
                    <button type="button" (click)="onClose()" class="btn btn-danger btn-block">Close</button>
                </li>
            </ul>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>{{ isEditing() ? 'Edit Article' : 'New Article' }}</strong></h3>
                    </div>
                    <div [formGroup]="entityGroup" class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="check">
                                            <input formState="featureOnStream" formControlName="featureOnStream"
                                                (onLostFocus)="onLostFocusThenSaveArticle($event)" type="checkbox" [attr.disabled]="article.status === contentStatus.PENDING ? true : null"/><span class="label-text">Feature this content in streams</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 hide">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">Language</label>
                                    <div class="col-xs-12">
                                        <select
                                            formState="language"
                                            formControlName="language"
                                            (onLostFocus)="onLostFocusThenSaveArticle($event)"
                                            class="form-control col-xs-12">
                                            <option value="ar">Arabic (Default)</option>
                                            <option value="en">English</option>
                                        </select>
                                        <span class="help-block">Select Language</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Article Information</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" *ngIf="isEditing()">
                            <div [formGroup]="entityGroup" class="col-md-6">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">UUID: {{article.entityId}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">Status:
                                        <data-status [status]="article.status"> </data-status>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div [formGroup]="entityGroup" class="col-md-12">
                                <div class="form-group" fieldHasError="title">
                                    <label class="col-xs-12 control-label">*Title</label>
                                    <div class="col-xs-12">
                                        <input type="text" maxlength="250" class="form-control"
                                            (onLostFocus)="onValidateTitle($event)" placeholder="Enter Title Here" formState="title" formControlName="title" [readonly]="article.status === contentStatus.PENDING"/>
                                        <label class="error"
                                            fieldError="title" fieldErrorType="required">This field is required.</label>
                                        <label class="error"
                                            fieldError="title" fieldErrorType="nospace">This field is required.</label>
                                        <label class="error"
                                            fieldError="title" fieldErrorType="existsTitle">
                                            Title is being used. Please choose another.</label>
                                        <span class="help-block">Enter Content Title</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"
                                    fieldHasError="publishOnBehalf">
                                    <label class="col-xs-12 control-label">*Publish on behalf</label>
                                    <div class="col-xs-12">
                                        <single-suggestion
                                            [isReadOnly] = "isInactive() || article.status === contentStatus.PENDING"
                                            placeholder="Enter Authoring Page Name Here"
                                            display="displayName" key="entityId"
                                            formControlName="publishOnBehalf"
                                            (onQuery)="onQueryPublishOnBehalf($event)"
                                            (onClosed)="onPublishOnBehalfChanged($event)">
                                        </single-suggestion>
                                        <label class="error"
                                            fieldError="publishOnBehalf" fieldErrorType="required">This field is required.</label>
                                        <span class="help-block">Enter page name</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hide">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">*Website(s)</label>
                                    <div class="col-xs-12">
                                        <mbc-select-box
                                            [disable]="true"
                                            display="displayName" key="entityId"
                                            [dataSource]="listWebsite"
                                            [fControl]="relationshipGroup.controls.websites"
                                        ></mbc-select-box>
                                        <span class="help-block">Select websites</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div [formGroup]="entityGroup" class="col-md-12">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">Label</label>
                                    <div class="col-xs-12">
                                        <input type="text" maxlength="250" placeholder="Add Label Here" class="form-control"
                                            (onLostFocus)="onLostFocusThenSaveArticle($event)" formState="label" formControlName="label" [readonly]="article.status === contentStatus.PENDING"/>
                                        <span class="help-block">Add Label</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">Tag Pages</label>
                                    <div class="col-xs-12">
                                        <mbc-multiple-suggestion
                                            placeholder="Tag Pages Here"
                                            display="displayName" key="entityId"
                                            [selectedValue]="article.tagToPages"
                                            (onRemoveItem)="onRemovePageTag($event)"
                                            (onAddedItem)="onAddedTagToPage($event)"
                                            (onQuery)="onQueryTagToPages($event)"
                                            (onSelectedChanged)="onTagPagesSelectedChanged($event)"
                                            [isReadOnly]="article.status === contentStatus.PENDING">
                                        </mbc-multiple-suggestion>
                                        <span class="help-block">Enter Pages</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                <label class="col-xs-12 control-label">Interest</label>
                                <div class="col-xs-12">
                                    <mbc-multiple-suggestion
                                        placeholder="Enter Interest Here"
                                        display="value" key="id"
                                        [selectedValue]="listInterestsSelected"
                                        (onRemoveItem)="onRemoveInterest($event)"
                                        (onAddedItem)="onAddedInterest($event)"
                                        (onQuery)="onQueryInterest($event)"
                                        (onSelectedChanged)="onInterestSelectedChanged($event)"
                                        [isReadOnly]="article.status === contentStatus.PENDING"
                                        >
                                    </mbc-multiple-suggestion>
                                    <span class="help-block">Enter Pages</span>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div [formGroup]="entityGroup" class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">Description</label>
                                    <div class="col-xs-12">
                                        <textarea type="textarea" rows="10" maxlength="500" class="form-control" placeholder="Enter Description Here" (onLostFocus)="onLostFocusThenSaveArticle($event)"
                                            formState="description" formControlName="description" [readonly]="article.status === contentStatus.PENDING"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="listOfComments.length > 0">
                            <div class="col-md-12">
                                <div class="form-group">
                                  <label class="col-xs-12 control-label">Rejection Note</label>
                                  <div class="row page-list-data">
                                    <data-table [records]="listOfComments" [loading]="false" [has-more]="false" (sort)="sort($event)" [hideCheckbox]="isHideCheckbox">
                                        <header title="Note" name="comment" [sortable]="true"></header>
                                        <header title="Rejected Date" name="rejectedDate" [sortable]="true"></header>
                                        <header title="Approver" name="approver" [sortable]="true"></header>
                                        <column value="comment" tooltipContent="tooltipContent"></column>
                                        <column value="rejectedDate" [formatter]="dateFormatter"></column>
                                        <column ></column>
                                    </data-table>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="entityGroup.controls">
                            <image-upload-widget [isCollapsed]="false"
                                [persistSizes]="true"
                                [isFormSubmitted]="isFormSubmitted" [options]="articlePhotoOptions"
                                [imageInput]='article.articlePhoto' [title]="'*Article Photo'"
                                (imageChange)='onImageChange(entityGroup.controls.articlePhoto, $event)'
                                [isReadOnly]="article.status === contentStatus.PENDING"></image-upload-widget>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Paragraphs</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" [formGroup]="entityGroup">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-xs-12 control-label">Paragraph View Options</label>
                                    <div class="col-xs-12">
                                        <div class="input-group">
                                            <label class="check" *ngFor="let option of listParagraphOptions">
                                                <input type="radio" name="paragraphViewOption" [value]="option.value"
                                                    formState="paragraphViewOption" formControlName="paragraphViewOption"
                                                    (onLostFocus)="onLostFocusThenSaveArticle($event)"
                                                    [checked]="entityGroup.controls.paragraphViewOption.value == option.value" [attr.disabled]="article.status === contentStatus.PENDING ? true : null"/>
                                                {{option.label}}
                                                </label>
                                        </div>
                                        <span class="help-block">Choose Paragraph View Options</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <paragraph-form
                                #paragraphFormComponent
                                [isCreate]="true"
                                [shouldValidate]="shouldValidate"
                                [paragraphViewOption]="article.paragraphViewOption"
                                [paragraphs]="article.paragraphs"
                                [isFormSubmitted]="isFormSubmitted"
                                [isReadOnly]="article.status === contentStatus.PENDING"
                                (onRemoveParagraph)="onRemoveParagraph($event)"
                            ></paragraph-form>
                            <label *ngIf="(!article.paragraphs || article.paragraphs.length==0) && isRequiredParagaph" class="error" style="padding-left:10px;">Article must have at least 1 paragraph.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIXME: Need to make a common with configuration params-->
  <mbc-confirmation #confirmClose message="Data will not be saved. Do you want to continue?" (yesAction)="onReturnListPage()"></mbc-confirmation>
  <mbc-confirmation #confirmCopy type="okOnly" message="You have updated some values that are not yet saved. Please save it before copying." ></mbc-confirmation>
  <mbc-confirmation #confirmPublishPopup message="{{message.CONFIRM_CONTENT_PUBLISH}}" (yesAction)="publishContent()"></mbc-confirmation>
  <mbc-confirmation #confirmUnpublishPopup message="{{message.CONFIRM_UNPUBLISH}}" (yesAction)="onUnpublish()"></mbc-confirmation>
  <mbc-confirmation #confirmDeletePopup message="{{message.CONFIRM_REMOVE}}" (yesAction)="onDelete()"></mbc-confirmation>
  <mbc-confirmation #confirmModeratePopup message="" (yesAction)="onModerate($event)"></mbc-confirmation>
  <mbc-confirmation #confirmSaveAndPublishPopup message="{{message.CONFIRM_PUBLISH}}" (yesAction)="onSaveAndPublish()"></mbc-confirmation>
  <mbc-confirmation #showPreview type="okOnly" class="preview-popup-wrap" title="Preview" [message]="safePreviewUrl"></mbc-confirmation>
</form>
