.focus-paragraph {
    -webkit-box-shadow:0 0 12px red;
    -moz-box-shadow: 0 0 12px red;
    box-shadow:0 0 12px red;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}