<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Page information</strong></h3>
        </div>
        <div class="panel-body">
            <!--ID & Status-->
            <div class="row" *ngIf=" pageEntityId">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-12 control-label">UUID: {{ pageEntityId}}</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-xs-12 control-label">Status:
                             <data-status [status]="pageStatus | pageStatus"> </data-status>
                        </label>
                    </div>
                </div>
            </div>
            <div class="mbc-form-group" [formGroup]="infoGroup">
                <!--Title-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" [class.has-error]="(isFormSubmitted && infoGroup.controls.title.invalid) || (infoGroup.controls.title.dirty && infoGroup.controls.title.invalid)">
                            <label class="col-xs-12 control-label">*Title</label>
                            <div class="col-xs-12">
                                <input type="text" maxlength="250" class="form-control" formControlName="title" placeholder="Enter Title Here"/>
                                <label class="error" for="title">This field is required.</label>
                                <span class="help-block">Enter Title Here</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Type & Language-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="(isFormSubmitted && infoGroup.controls.type.invalid) || (infoGroup.controls.type.dirty && infoGroup.controls.type.invalid)">
                            <label class="col-xs-12 control-label">*Type</label>
                            <div class="col-xs-12">
                                <select class="form-control col-xs-12" formControlName="type" #type>
                                    <option [selected]="true" value="">Select</option>
                                    <option *ngFor="let pageType of pageTypes" [value]="pageType.code">{{  pageType.names | pageTypeByLang }}</option>
                                </select>
                                <label class="error">This field is required.</label>
                                <span class="help-block">Select Type</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- <div class="form-group">
                            <label class="col-xs-12 control-label">Language</label>
                            <div class="col-xs-12">
                                <select class="form-control col-xs-12 select" formControlName="language">
                                    <option value="ar">Arabic (Default)</option>
                                    <option value="en">English</option>
                                </select>
                                <span class="help-block">Select Language</span>
                            </div>
                        </div> -->
                        <div class="form-group" [class.has-error]="(isFormSubmitted && infoGroup.controls.internalUniquePageName.invalid) || (infoGroup.controls.internalUniquePageName.dirty && infoGroup.controls.internalUniquePageName.invalid)">
                            <label class="col-xs-12 control-label">*Internal Unique Page Name</label>
                            <div class="col-xs-12">
                                <input type="text" maxlength="250" class="form-control" formControlName="internalUniquePageName" placeholder="Enter Internal Unique Page Name Here" prevent-dash trim-value/>
                                <label class="error" *ngIf="infoGroup.controls.internalUniquePageName.hasError('required') || infoGroup.controls.internalUniquePageName.hasError('nospace')">This field is required.</label>
                                <label class="error" *ngIf="infoGroup.controls.internalUniquePageName.hasError('asyncInvalid')">This value already exists. Please choose another value.</label>
                                <span class="help-block">Add a unique name for this page</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CustomUrl & PageGroup-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" [class.has-error]="infoGroup.controls.customURL.hasError('asyncInvalid')">
                            <label class="col-xs-12 control-label">Custom URL</label>
                            <div class="col-xs-12">
                                <input type="text" maxlength="250" class="form-control" formControlName="customURL" placeholder="Enter Custom URL Here"/>
                                <label class="error" *ngIf="infoGroup.controls.customURL.hasError('asyncInvalid')">This value already exists. Please choose another value.</label>
                                <span class="help-block">Enter Custom URL Here</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group"[class.has-error]="(isFormSubmitted && infoGroup.controls.pageGroup.invalid) || (infoGroup.controls.pageGroup.dirty && infoGroup.controls.pageGroup.invalid)">
                            <label class="col-xs-12 control-label">Page Group</label>
                            <div class="col-xs-12">
                                <single-suggestion
                                    placeholder="Enter Page Group Name Here"
                                    display="pageGroupName" key="pageGroupId"
                                    formControlName="pageGroup"
                                    (onQuery)="onQueryPageGroup($event)"
                                    (onSelectedChanged)="onPageGroupChanged($event, 'changed')"
                                    (onClosed)="onPageGroupChanged($event, 'closed')"
                                    [isReadOnly]="isReadOnly">
                                </single-suggestion>
                                <span class="help-block">Select Page Group Here</span>
                                <span class="help-block" *ngIf="infoGroup.controls.pageGroup.value && infoGroup.controls.pageGroup.value.status == 'live'">
                                    - Page Group Status: <data-status [status]="infoGroup.controls.pageGroup.value.status"></data-status>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Websites & GeoTargeting-->
                <div class="row">
                    <div class="col-md-12">
                         <div class="form-group">
                            <label class="col-xs-12 control-label">Geo Targeting</label>
                            <div class="col-xs-3">
                                <select class="form-control" formControlName="geoTargeting" (change)="clearSuggestedGeo()">
                                        <option selected value="">Select Target GEO</option>
                                        <option *ngFor="let geo of listGeoTarget">{{  geo }}</option>
                                </select>
                            </div>
                             <div class="col-xs-9" [class.has-error]="isGeoValidate()">
                                <mbc-multiple-suggestion
                                    #geoSuggestions
                                    [isReadOnly] = "isNotChoosingGeoTargeting()"
                                    display="name" key= "name"
                                    (onQuery)="onQueryGeoTargeting($event)"
                                    [placeholder] = "geoWorldWidePlaceHolder"
                                    [selectedValue] = "listGEOSelectedFromSuggestion"
                                    (onRemoveItem)="onRemoveGeo($event)"
                                    (onAddedItem)="onAddGeo($event)">
                                </mbc-multiple-suggestion>
                                <label class="col-md-6 error" *ngIf="isGeoValidate()">
                                     Please choose target areas
                                </label>
                            </div>

                        </div>
                    </div>
                    <!--<div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12 control-label">Geo Targeting</label>
                            <div class="col-xs-12">
                                <button type="button" disabled class="btn btn-danger">Placements</button>
                                <button type="button" disabled class="btn btn-default">All</button>
                                <span class="help-block">Enhance after M1</span>
                            </div>
                        </div>
                    </div>-->
                </div>
                <!--Logo URL-->
                <div class="row" *ngIf="infoGroup.controls">
                    <image-upload-widget
                        [persistSizes]="true"
                        [imageInput]='info.logoURL' [title]="'Logo'"
                        (imageChange)='onImageChange(infoGroup.controls.logoURL, $event)'></image-upload-widget>
                </div>
                <!--Poster URL-->
                <div class="row">
                    <image-upload-widget
                        [persistSizes]="true"
                        [imageInput]='info.posterURL' [title]="'Poster'"
                        (imageChange)='onImageChange(infoGroup.controls.posterURL, $event)'></image-upload-widget>
                </div>
                <!--Cover URL-->
                <div class="row">
                    <image-upload-widget
                        [persistSizes]="true"
                        [imageInput]='info.coverURL' [title]="'Cover'"
                        (imageChange)='onImageChange(infoGroup.controls.coverURL, $event)'></image-upload-widget>
                </div>
            </div>
        </div>
    </div>
</div>
<mbc-confirmation #confirmSwitchType message="Data will be removed. Do you want to continue?" (yesAction)="onAcceptSwitchType()"(noAction)="onDeclineSwitchType()"
  (cancelAction)="onDeclineSwitchType()"></mbc-confirmation>
