<div class="form-group"
  [class.has-error]="parentControl && parentControl.invalid && (model.dirty || model.touched || parentControl.dirty)">
  <label class="col-xs-12 control-label">{{title}}</label>
  <div class="col-xs-12">
    <textarea placeholder="{{placeholder}}" class="form-control"
      [(ngModel)]="value"
      [attr.maxLength]="maxLength ? maxLength : null"
      [disabled]="isReadOnly"
    ></textarea>

    <validation
      *ngIf="parentControl && parentControl.invalid"
      [messages]="parentControl.errors">
    </validation>

    <span class="help-block" *ngIf="!hideHelpText">{{guideText}}</span>
  </div>
</div>
